

  {{!-- <div class="col-xl-8 col-lg-7 square"> --}}
    <div class="calendar">
      {{!-- {{session}}  --}}
        <div class="card shadow cld-main">
          
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0"></h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <em class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></em>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
      </div>

      <div id="calendar"></div>

        </div>
      </div>
      <script  src="../public/calendar.js"></script>
     <script>
      let data={{{events}}}
      console.log(data)
      let events=[]
      for (let i=0; i<data.length;i++){
        let temp={};
        let y=data[i].Year;
        console.log(y)
        let m=data[i].Month;
        let d=data[i].Day;
        temp.Date=new Date(y, m, d);
        temp.Info=data[i].Info;
        events.push(temp);
      }
      console.log(events)
      calendar(events);
</script>

{{!-- <script  src="../public/calendar.js"></script> --}}
{{!-- <script  src="../pubic/javascript/demo.js"></script> --}}