{{!-- <div class="col-xl-8 col-lg-7 square"> --}}
    <div class="calendar col">
      {{!-- {{session}}  --}}
        <div class="card shadow cld-main">
          
          <!-- Card Header - Back Button -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              
              <div class="form-row">

                <em onclick="window.history.go(-1); return false;" role="button" class="fas fa-angle-left fa-fw"></em>
                <h6 onclick="window.history.go(-1); return false;" role="button">Go Back</h6>
              
              </div>
      </div>

      <div id="calendar"></div>

        </div>
      </div>
    <script src="/public/calendar.js"></script>
     <script>
      
      let data={{{events}}}
      console.log(data)
      let events=[]
      for (let i=0; i<data.length;i++){
        let temp={};
        let y=data[i].Year;
        console.log(y)
        let m=data[i].Month;
        let d=data[i].Day;
        temp.Date=new Date(y, m, d);
        temp.Info=data[i].Info;
        events.push(temp);
       }
      

      console.log(events)
      calendar(events);
</script>

{{!-- <script  src="../public/calendar.js"></script> --}}
{{!-- <script  src="../pubic/javascript/demo.js"></script> --}}