

          
          {{#if this.ifTutor}}
          <div class="col-md-8 fixed-width">
              <div class="card border-left-primary shadow h-100 py-2 fixed-width">
                <div class="card-body fixed-width">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Upload Resource</div>
                      <div>
                        <form action="/tutors/upload" method="POST" id='uploadForm'>
                  <div class="form-group fixed-title">
                    <label class="font-weight-bold text-primary fixed-title text-uppercase" for="title_resource">Title</label>
                    <input type="text" class="form-control" name="title" id="title_resource" placeholder="Title"/>
                  </div>
                  <div class="form-group fixed-body">
                    <label class="font-weight-bold text-primary fixed-title text-uppercase" for="description_resource">Description</label>
                    <textarea class="form-control" name="description" id="description_resource" maxlength="20" maxrow="3" placeholder="Description"></textarea>
                  </div>
                  <div class="form-group fixed-body">
                    <label class="font-weight-bold text-primary fixed-title text-uppercase" for="link_resource">Link</label>
                    <input type="text" class="form-control" name="link" id="link_resource" placeholder="Link..."/>
                  </div>
                      <div class="form-group">
                        <input class="form-control-button btn btn-primary " type='submit' value='Upload!'>
                      </div>
                      </form>
                      <div class="form-group">
                        <a id="view_resource" href="/tutors/resource" class="form-control-button btn btn-primary ">View the Uploaded Resource</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{/if}}

