
<!-- Content Column -->
<div class="col-lg-8 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Forum</h6>
    </div>
    <div class="card-body">
        <h7>Latest Post</h7>
        <div>
            <h8>NodeJs Error</h8>
            <p>Sometimes I am having an error related to the way I install Node js</p>
        </div>
    </div>
    </div>

</div>
