<script type="text/javascript" src="/newComment.js"></script>

<p hidden id="hidden">{{topic.id}}</p>
<div class="form-col">
	<div class="error-message hidden"><p>Please fill in all the empty box!</p></div>
	<div class="form-group col-md-10">
		<textarea class="form-input form-control" type="textarea" id="comment" placeholder="Add a comment..." maxlength="750" rows="5"></textarea>
	</div>
	<div class="form-group col-md-5">
		<button class="btn btn-primary" type="submit" id="submit">Comment</button>
	</div>
</div>
