
<div class="col-lg-8 mb-4">
<form action="/profile_form" method="POST" onsubmit="xssSaviour()">
  <div class="form-row">
    <div class="form-group col-md-6 required-field">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" name= "firstname" id="firstname" placeholder="First Name" value="{{firstname}}">
    </div>
    <div class="form-group col-md-6 required-field">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" value="{{lastname}}">
    </div>
  </div>
  
    <div class="form-group required-field">
      <label for="bio">Bio</label>
      <input type="text" class="form-control" name="bio" id="bio" placeholder="Introduce yourself" value="{{bio}}">
    </div>
   
  <div class="form-row required-field">
    <div class="form-group col-md-3">
      <label for="gender">Gender</label>
      <select name="gender" id="gender" class="form-control">
        <option selected>Choose...</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tutor_position" id="tutor_position">
      <label class="form-check-label" for="tutor_position">
        Are you a tutor?
      </label>
      
    </div>
  </div>
  <div id="form1">
    <div class="form-row">
    
  <div class="form-group col">
      <label for="subject">Pick your subject of teaching</label>
    
      <div class="form-group col-md-3">
      <select id="subject" name="subject" class="form-control">
        <option selected>Choose...</option>
        <option>Maths</option>
        <option>History</option>
      </select>
    </div>
  </div>
  </div>
  </div>
  <button id="submitProfile" type="submit" class="btn btn-primary">Submit</button>
  <script>$("#tutor_position").click(function(){
        $("#form1").toggle();
        function xssSaviour(){
          $("#submitProfile").click(function(){
              var firstName = $("#firstname").val();
              var lastname  = $("#lastname").val()
              var bio       = $("#bio").val()
              
              //ENCODED FOR MAXIMUM SAFETY
              var encodedfirstName = $('<div />').text(firstName).html();
              var encodedLastName  = $('<div />').text(lastname).html();
              var bio              = $('<div/>').text(bio).html();

              $('#firstName').val(encodedfirstName);
              $('#lastName').val(encodedLastName);
              $('#id').val(bio);
            });
            return true;
        }
    });</script>
</form>
</div>