

<div class="col-lg-8 mb-5">
{{!-- Author--Jack Zhou and Sid--}}
    <!-- Tutor Infomation Page -->
    <div class="card shadow mb-4 nav-header">
    <div class="col">
        <h4>Searched: {{profileName}}</h4>
       </div> 
    
    <div class="card-body">   
<ul>
{{#each found}}
<li>
<div class="form-col">
    <div class="col">
<a href="/details/{{this._id}}">{{this.profile.firstname}}   {{this.profile.lastname}}</a>
</div>
</div> 
</li>
{{/each}}

</ul>
        </div>
</div></div>
