<div class="card shadow topic-comment form-col">
  <div class="card-body">
    {{content}} 
  </div>
  <div class="card-footer">
    <p class="card-subtitle">Posted at {{formatDate postDate}} by {{creator}}</p>

  </div>
</div>
