<div class="card topic-comment">
  <div class="card-body">
    {{content}} 
  </div>
  <div class="card-footer">
    <h6 class="card-subtitle">Posted at {{formatDate postDate}}</h6>
  </div>
  
</div>
