<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Creator</title>
   
    <link rel="stylesheet" href="/style.css"> 
   
   <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
  <script src="/socket.io/socket.io.js"></script> 
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="container grid-1280">
          <h1 class="site-title"><a href="/">Topic Creator</a></h1>
          <nav class="navbar headerbar">
            <ul class="tab">
              <li class="tab-item"><a href="/forum">Home</a></li>
              <li class="tab-item"><a href="/categories/study">Study</a></li>
              <li class="tab-item"><a href="/categories/social">Social</a></li>
              <li class="tab-item"><a href="/categories/health">Health</a></li>
              <li class="tab-item"><a href="/topics/new">New Topic</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="container grid-1280">
        {{{body}}}
      </main>
    </div>
  </body>
	<script type="text/javascript" src="/index.js"></script>
  <script type="text/javascript" src="/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script type="text/javascript" src="/handlebarTemplates.js"></script>
</html>
