<script src="/newTopic.js"></script>

<div class="card shadow container new-topic">
	<div class="error-message hidden"><p>Please fill in all the empty box!</p></div>
	<div class="card-body">
	<h2>New Topic</h2>
	<div class="form-group col-md-5">
		<label class="form-label" for="title">Title</label>
		<input class="form-input form-control" type="text" name="title" maxlength="20" id="title">
	</div>
	<div class="form-group col-md-10">
		<label class="form-label" for="description">Description</label>
		<textarea class="form-input form-control" name="description" id="description" maxlength="500" rows="5"></textarea>
	</div>

<div>
	<div class="form-group  col-md-5">
		<select class="form-control" name="category" id="category">
			<option value="">Choose a category</option>
			<option value="study">Study</option>
			<option value="social">Social</option>
			<option value="health">Health</option>
		</select>
	</div>
</div>
	<div class="form-group  col-md-5">
  <button class="btn btn-primary" type="submit" id="submit">Create</button>
	</div>
</div>
</div>