<div class="col-lg-8 mb-4">
{{!-- Author--Jack Zhou--}}
    <!-- Tutor Uploaded Resources Page -->
    <div class="card shadow">
     <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <div class="form-row">

                <em  onclick="window.history.go(-1); return false;" class=" left fas fa-angle-left fa-fw"></em>
                <a  class="goback" onclick="window.history.go(-1); return false;" >Go Back</a>
              
        </div>
     </div>
    <div >   
        {{#if files}}   
<ul>

{{#each files}}
<li>

 <div class="form-col">
 <a href={{this.link}} target="_blank"> Title: {{this.title}}</a>
 <p>Description: ({{this.description}})</p> 
 </div>
 
</li>
{{/each}}
</ul>
{{else}}
<div class="text-center">
  <h2>Sorry</h2>
     <h3>This tutor has no uploaded resource.</h3> 
</div>

{{/if}}
</div>
</div>
</div>
