body {
  background-color: cornflowerblue;
  padding-right: 0 !important;
}

header {
   background-color: dimgray;
   margin-bottom: 10px;
}

a {
  color: #454545;
  font-weight: normal;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.site-title {
   color: #fff;
}

.site-title a {
  color: white;
}

.headerbar {
   background-color: azure;
   border-radius: .2rem;
}

.wrapper {
  min-height: calc(100vh - 50px);
}

footer {
  border-top: 1px solid gray;
  background-color: lightgray;
  padding: 10px;
  height: 50px;
}

.topic-question {
  margin-bottom: 10px;
}

.new-comment {
  margin-bottom: 20px;
}

.topic-comment {
  margin-bottom: 5px;
}

.new-topic {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: .2rem;
}

.category-link {
  color: rgb(44, 40, 40);
}

#delete{
position: right;

}
.hidden{
  display:none;
}

.nav-header{
  width:500px;
  position:fixed;
}

/* .card-title{
 font-size:25px;
}
.card-subtitle{

  font-size:15px;
} */

.fixed-width{
  width: 400px;
}
.fixed-title{

  width:200px;
}

.fixed-body{

  width:300px;
}
.widthAuto{
  width: auto !important;
}

#view_resource{

  color:white;
}

/* overwrite all bootstap colors */

.side-bar-text{
  color: white  !important;
}

.header-text{
  color: rgb(83, 83, 94) !important;
  font-size: 13px !important;
}

.btn-primary, .primary{

  background-color:#4970de !important;
  color:white;

}

.btn-secondary{
  background-color:#737587 !important;
}

.btn-secondary:hover{
  background-color:#8e8f97 !important;
}

.btn-primary:hover{

  background-color:#4f76e4 !important;
  color:white;

}

.mean-btn{
  color:white !important;
  background-color: #454545 !important;
  margin: 2px !important;
}

.goback{
 font-size: 14.5px;

}

.footer{

  margin-top: 20px;
}


#notifi{
  color: white !important;
  background-color: #e22f0d !important;
}
